/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


html{
    height: 100vh;
}

body{
    background: linear-gradient(90deg, rgb(26, 26, 26), black);
    background-repeat: no-repeat;
    color: white;
}